version: "2.4"

services:
  unit-tests:
    build:
      context: "../tests/unit-tests"
    environment:
      DISPLAY: "$DISPLAY"
      IN_REQUIREMENTS: "${IN_REQUIREMENTS:-requirements.in}"
      PYTEST_ADDOPTS: "${PYTEST_ADDOPTS:-}"
      PYTHONPATH: "src"
      SRC_APP: "${SRC_APP}"
      TEST_SUIT: "${TEST_SUIT}"
      SONIC_GAME: "${SONIC_GAME}"
      SONIC_STATE: "${SONIC_STATE}"
      SONIC_AGENT_FILE: "${SONIC_AGENT_FILE}"
      TOTAL_TIMESTEPS: "${TOTAL_TIMESTEPS}"
      DETERMINISTIC: "${DETERMINISTIC}"
      MAXIMUM_EXPECTED_SCORE: "${MAXIMUM_EXPECTED_SCORE}"
      MINIMUM_EXPECTED_SCORE: "${MINIMUM_EXPECTED_SCORE}"
      NORMALIZED_ENVIRONMENT: "${NORMALIZED_ENVIRONMENT}"
      RL_ALGORITHM: "${RL_ALGORITHM}"
      RL_POLICY: "${RL_POLICY}"
    group_add:
      - "video"
    volumes:
      - "../${SRC_APP}:/usr/src/unit-tests/${SRC_APP}"
      - "../tests/unit-tests:/usr/src/unit-tests"
      - "/tmp/.X11-unix:/tmp/.X11-unix"
    command: >
      pytest --cov=src --cov-config=coverage.cfg --cov-report=term-missing -m "${TEST_SUIT}"
